<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Details</title>
</head>
<body>

    <h1>User Details</h1>

    <h2>ID: <%= user.id %></h2>

    <h2>Username: <%= user.username %></h2>

</body>
</html>